.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    line-height: 57px;
    height: 64px;
    width:auto;
    padding-top: 76px;
    padding-left: 217px;
    padding-right: 362px;
}
a{color: #FFFFFF;
}
body{
    background-color: white;
    padding: 0px 40px 40px 40px;
}
.mainDiv{
    background-color: #56836F;
    border: 2px solid #006837;
    height: 1400px;
    
}
h3{
    font-size: 18px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
}
.logo{
    float:right;
    margin-right: 55px;
}
.float-right{
    background-color: #FCEE21;
    border: 1px solid #707070;
    width: 617px;
    height: 356px;
    padding: 30px;
    margin-left: 70px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 19px;
}
.articleImage1 {
    float: right;
    margin-left: 20px;
}
.float-left{
    background-color: #FCEE21;
    border: 1px solid #707070;
    width: 523px;
    height: 356px;
    padding: 30px;
    font-size: 14px;
    line-height: 19px;
}
.articleImage2{
    float: left;
    margin-right: 20px;
}
.float-left p{
    color: #006837;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 67px;
    row-gap:45px;
    padding-top: 163px;  
}
.flexDiv{
    display:flex;
    background-color: #FCEE21;
    border: 1px solid #707070;
    width: 617px;
    height: 356px;
    padding: 30px;
    margin-left: 70px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 19px;
}
.flexImg{
    width:150px;
    height:118px;
}
.article4{
    display: grid;
    grid-area: 2/2/4/3 ;
    background-color: #FCEE21;
    border: 1px solid #707070;
    height: 650px;
    width: 523px;
}
.articleImage4{
    float: left;
    margin: 20px;
    padding-top: 10px;
}
.text4{
    height: 600px;
    padding: 30px;
    font-size: 14px;
    line-height: 16px;
    color: #006837;
}